[submodule "nft/foundry-app/lib/forge-std"]
	path = nft/foundry-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft/foundry-app/lib/openzeppelin-contracts"]
	path = nft/foundry-app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sophormore/whitelist_dapp/foundry-app/lib/forge-std"]
	path = sophormore/whitelist_dapp/foundry-app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sophormore/whitelis_dapp/lib/forge-std"]
	path = sophormore/whitelis_dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sophormore/whitelist_dapp/lib/openzepplin-contracts"]
	path = sophormore/whitelist_dapp/lib/openzepplin-contracts
	url = https://github.com/OpenZepplin/openzepplin-contracts
[submodule "sophormore/whitelist_dapp/lib/openzeppelin-contracts"]
	path = sophormore/whitelist_dapp/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sophormore/dex_app/lib/forge-std"]
	path = sophormore/dex_app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
